{
  "plugins": ["prettier-plugin-tailwindcss"],
  "parser": "typescript",
  "semi": true,
  "singleQuote": false,
  "trailingComma": "all",
  "useTabs": false,
  "tabWidth": 2,
  "printWidth": 80,
  "arrowParens": "always",
  "bracketSameLine": false
}
